@media screen and (max-width: 700px) {
  #main > div {
    grid-column-gap: 0;
    display: inline;
  }
}

.shortcut-nav .title img {
  display: none;
}

.shortcut-nav-outlet {
  position: fixed;
  transition: all 0.15s ease-in-out;
  z-index: 999;
  background: $secondary;
  top: 0;
  bottom: 0;
  box-shadow: 0 200px 0 1000px rgba(0, 0, 0, 0);
  h3,
  .badge-wrapper,
  .custom-nav-list.custom-tag-list li {
    font-size: $font-0;
  }
  .tracked-categories .nav-pills > li > a {
    font-size: $font-up-2;
  }
}

.list-controls .nav-pills > li {
  border: none;
  margin-right: 0.5em;
}

#navigation-bar {
  width: 100%;
  order: 90;
}

.show-custom-sidebar {
  .shortcut-nav-outlet {
    height: 100vh;
    width: 87vw;
    margin-top: 2em;
    max-width: 400px !important;
    box-shadow: 0 200px 0 1000px rgba(0, 0, 0, 0.5);
    .custom-tracking-nav {
      max-height: 85vh;
      overflow-x: auto;
    }
  }
  #main > div #main-outlet {
    pointer-events: none;
    transition: opacity 0.25s;
  }
  .d-header .title {
    pointer-events: none;
  }
}
.category-navigation,
.navigation-container {
  #create-topic {
    display: flex;
    align-items: center;
    order: 12 !important;
    .d-button-label {
      display: none;
    }
    &:before {
      content: "Topic";
      order: 2;
      padding-top: 0.1em;
    }
  }
  > div:not(.select-kit) {
    margin-right: auto;
    order: -2;
    h2 {
      font-size: 1.25em;
      margin-bottom: 0;
      margin-top: 4px;
      text-transform: capitalize;
    }
  }
}

.top-lists h2 {
  margin-left: 0;
}
