@mixin sticky {
  position: -webkit-sticky;
  position: sticky;
}

#main > div {
  display: grid;
  max-width: 1110px;
  margin: 0 auto;
  grid-column-gap: 1em;
  @media screen and (max-width: 800px) {
    grid-column-gap: 0.5em;
  }
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  grid-template-columns: auto 10fr;
  grid-template-rows: 6em;

  .shortcut-nav-outlet {
    max-width: 180px;
    @media screen and (max-width: 800px) {
      max-width: 160px;
    }
    grid-area: sidebar;
    border-right: 1px solid $primary-low;
    + div {
      grid-area: header;
      align-self: start;
      @include sticky;
      min-height: 0;

      top: 0;
      min-width: 0;
      z-index: 999;
    }
  }
  #main-outlet {
    grid-area: content;
    padding-top: 0;
    max-width: unset;
    margin: 0;
    min-width: 0;
    align-self: start;
  }
}

#topic-title {
  display: none;
}

.post-stream {
  padding-left: 3px;
  // Makes room for j/k highlight
  .topic-post:first-of-type {
    .topic-body,
    .topic-avatar {
      border-top: none;
      padding-top: 0;
    }
  }
}

.tracked-categories {
  @include sticky;
  padding: 0.25em 1.5em 0.25em 1em;
  top: 0;
}

.docked .d-header,
.d-header {
  position: relative !important;
  box-shadow: none;
  border-bottom: 1px solid $primary-low;
  .title {
    overflow: hidden;
    > span {
      overflow: hidden;
    }
    @media screen and (min-width: 701px) {
      > a {
        img {
          display: none;
        }
      }
    }
    .custom-header-title {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      h2,
      h3 {
        width: 100%;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
      }

      h3 {
        margin: 0 0 0.25em;
        font-weight: normal;
        font-size: $font-down-1;
        color: $primary-high;
      }
      h2 {
        margin: 0;
      }
    }
  }
}

ol.category-breadcrumb {
  display: none;
}

// Shortcut nav styling

.shortcut-nav {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  .title {
    padding-top: 0.25em;
    margin-bottom: 2em;
    .custom-header-title {
      display: none;
    }
    img {
      width: 100%;
    }
  }

  .badge.new-posts.badge-notification:first-of-type:not(:last-of-type) {
    display: none;
  }
}

.custom-nav-list {
  margin-bottom: 1em;
  h3 {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $primary-low;
    font-size: 0.875em;
    text-transform: uppercase;
    margin: 0;
    a {
      display: flex;
      flex: 0 1 auto;
      padding: 0.25em;
      margin-bottom: 0.15em;
      align-self: flex-start;
      &:hover {
        background: $tertiary-low;
      }
    }
    .d-icon {
      font-size: 0.87em;
      color: $primary-medium;
      padding: 0.25em;
      align-self: flex-start;
    }
    .all-link {
      margin-right: auto;
      color: $primary;
    }
  }
  ul {
    list-style-type: none;
    margin: 0.5em 0;
  }

  li {
    display: flex;
    align-items: baseline;

    .badge-wrapper {
      span.badge-category {
        max-width: 100px;
      }
    }

    &:hover {
      background: $tertiary-low;
    }

    &.active {
      .badge-wrapper {
        font-weight: bold;
        .badge-category {
          color: $primary;
        }
      }
    }

    > a {
      padding: 0.35em;
      display: flex;
      align-items: baseline;
      color: $primary-high;
      width: 100%;
      box-sizing: border-box;
      .badge-wrapper {
        pointer-events: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 0 1 auto;
      }
      .badge-wrapper {
        font-weight: normal;
      }
      .badge-notification {
        flex: 0 0 auto;
      }
      a {
        box-sizing: border-box;
      }

      .badge-notification.open-topics,
      .badge-notification.new-posts,
      .badge-notification.unread-posts {
        padding: 0;
        margin-left: auto;
        background: transparent;
        border-radius: 0;
        color: $tertiary-high;
      }
    }
    .unread-new {
      margin-left: auto;
      .badge-notification.new-posts {
        display: flex;
        align-items: center;
        background: transparent;
        padding: 0 0.25 0 0 !important;
        color: $tertiary-high;
      }
    }
  }
  .custom-current {
    background: $tertiary-low;
  }

  &.custom-tag-list {
    li {
      font-size: 0.875em;
      &.active {
        a {
          font-weight: bold;
          color: $primary;
        }
      }
    }
  }
  &.custom-assign-list {
    li a {
      font-size: 0.875em;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}

.custom-empty-message {
  font-size: 0.875em;
  p {
    margin-top: 1em;
    padding: 0 0.25em;
  }
}

// Category nav

.navigation-container {
  .nav-pills > li > a {
    padding: 6px 0;
    margin-right: 0.5em;
    color: $primary;
    border-bottom: 3px solid transparent;
    transition: all 0.25s;

    &.active {
      color: $danger;
      background: transparent;
      border-bottom: 3px solid $danger;
    }
    &:not(.active):hover {
      background: transparent;
      border-bottom: 3px solid $danger;
    }
  }
}

body:not([class*="category-"]) {
  #navigation-bar {
    display: none;
  }
}

li[title="all topics grouped by category"] {
  display: none;
}

#global-sidebar-nav {
  > li > a {
    min-height: unset;
    line-height: 1.4;
    color: $primary-high;
    &:hover {
      background: $tertiary-low;
      color: $primary-high;
    }
    &.active {
      background: transparent;
      font-weight: bold;
      color: $primary;
    }
  }
  li {
    font-size: 0.765rem;
    display: block;
    width: 100%;
    &.hidden {
      display: none;
    }
    &[title="all topics grouped by category"] {
      display: none;
    }
  }
}

// Topic list

.topic-list {
  .posters {
    width: 60px;
    a:not(:first-of-type):not(:last-of-type) {
      display: none;
    }
  }
  .views {
    display: none;
  }
  td.main-link {
    padding-right: 2em;
  }
}

#main-outlet > .regular,
#main-outlet > .banner {
  #topic {
    overflow: hidden;
  }

  #topic-title {
    grid-area: title;
    padding-top: 0;
  }

  .container.posts {
    grid-area: topic;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "posts timeline";
    &:before {
      display: none;
    }

    > .row {
      grid-area: posts;
      max-width: 760px;
      min-width: 0;
      overflow: hidden;
    }
    @media screen and (min-width: 925px) {
      > div:not(.selected-posts):not(.row) {
        @include sticky;
        top: 6em;
        grid-area: timeline;
        align-self: start;
        z-index: 400;
        .timeline-container {
          position: relative;
          margin: 0 !important;
          top: 0 !important;
          .popup-menu {
            left: unset !important;
            right: 0 !important;
          }
        }
        .timeline-container.timeline-docked {
          position: relative;
          margin: 0;
          top: 0 !important;
        }
      }
    }
  }
  .topic-status-info {
    max-width: unset;
  }
  .topic-post article > .row {
    display: grid;
    grid-template-areas: "avatar post";
    grid-template-columns: auto minmax(0, 1fr); // needs a 0 min for Safari

    zmin-width: 0;
    &:before {
      display: none;
    }
    .topic-avatar {
      grid-area: avatar;
    }

    .post-notice {
      grid-area: avatar / post;
      max-width: unset;
    }
    .topic-body {
      grid-area: post;
      width: 100% !important;
      min-width: 0;
    }
  }
}

.custom-tracking-nav {
  overflow-y: auto;
  overflow-x: hidden;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: $primary-high;
}

tr.visited {
  background: $primary-very-low;
}

// Hide all user profile nav by default
// this avoids some CSS loading jank when clicking assigned in the sidebar

.user-primary-navigation,
.user-secondary-navigation,
.user-additional-controls,
.about {
  display: none;
}

.user-content-wrapper .user-additional-controls + .user-content,
.user-content-wrapper .user-secondary-navigation + .user-content {
  grid-column-start: 1;
}

// Re-show nav when needed

body.show-nav {
  .user-primary-navigation,
  .user-secondary-navigation,
  .user-additional-controls,
  .about {
    display: inherit;
  }

  .user-content-wrapper .user-additional-controls + .user-content,
  .user-content-wrapper .user-secondary-navigation + .user-content {
    grid-column-start: 2;
  }
}

.fixed-modal {
  left: 0;
}

.query-results {
  > div {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 924px) {
  .topic-footer-main-buttons {
    padding-top: 2em;
  }
}

@media screen and (max-width: 850px) {
  .tracked-categories {
    .nav-pills > li > a {
      font-size: $font-up-1;
    }
  }
}

@media screen and (max-width: 800px) {
  .tracked-categories {
    padding: 0.25em 0.5em;
  }
  .custom-nav-list ul {
    li > a {
      padding: 0.5em 0.25em;
    }
  }
}

@media screen and (max-width: 700px) {
  .shortcut-nav-outlet {
    width: 0;
  }

  .docked .d-header .title .custom-header-title,
  .d-header .title .custom-header-title {
    display: none;
  }

  #main-outlet > .regular .topic-post article > .row,
  #main-outlet > .banner .topic-post article > .row {
    display: inline;
  }
}
