.shortcut-nav {
  display: none;
  max-width: 180px;
  margin-bottom: 1em;
}

// Only applying to main topic lists over 768px wide
@media screen and (min-width: 768px) {
  .navigation-topics,
  .categories-list,
  .tags-page:not(.tags-index),
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
    // Structuring the main grid layout

    .container:first-of-type {
      grid-area: alerts;
    }

    .container:nth-of-type(2) {
      grid-area: pins;
    }

    .shortcut-nav-outlet {
      grid-area: nav;
    }

    .list-controls {
      grid-area: above-topic-list;
    }

    .list-container {
      grid-area: topic-list;
    }

    #main-outlet {
      display: grid;
      grid-column-gap: 1.5em;

      @if $sidebar-alignment == "left" {
        grid-template-columns: 2fr 10fr; // 12 column grid
        grid-template-areas:
          "alerts alerts"
          "pins pins"
          "nav above-topic-list"
          "nav topic-list";
      } @else {
        grid-template-columns: 10fr 2fr;
        grid-template-areas:
          "alerts alerts"
          "pins pins"
          "topic-list nav";
      }
    }

    .list-container {
      min-width: 70%; // Don't let the topic list get too narrow
      .topic-list,
      .category-list {
        th {
          padding-top: 0; // Align to top of nav
        }
      }
    }
    .latest-topic-list .table-heading,
    .top-topic-list .table-heading {
      padding-top: 0;
    }
  }

  ol.category-breadcrumb {
    display: none;
  }

  // Shortcut nav styling

  .shortcut-nav {
    width: 100%;
    display: block;
  }

  .custom-home-link,
  .custom-home-link:visited {
    display: block;
    color: $primary-high;
    margin-bottom: 1.25em;
    text-transform: capitalize;
    .d-icon {
      color: $primary-medium;
    }
  }

  .custom-nav-list {
    margin-bottom: 1em;
    h3 {
      display: flex;
      width: 100%;
      border-bottom: 1px solid $primary-low;
      font-size: 1em;
      text-transform: uppercase;
      margin: 0;
      a {
        display: flex;
        flex: 0 1 auto;
        padding: 0.25em;
        margin-bottom: 0.15em;
        align-self: flex-start;
        &:hover {
          background: $tertiary-low;
        }
      }
      .d-icon {
        font-size: 0.87em;
        color: $primary-medium;
        padding: 0.25em;
        align-self: flex-start;
      }
      .all-link {
        margin-right: auto;
        color: $primary;
      }
    }
    ul {
      list-style-type: none;
      margin: 0.5em 0;
    }

    li {
      &:hover {
        background: $tertiary-low;
      }
      a {
        padding: 0.35em;
        display: block;
        color: $primary-high;
      }
    }
    .custom-current {
      background: $tertiary-low;
    }

    &.custom-tag-list {
      li {
        font-size: 0.875em;
      }
    }
    &.custom-assign-list {
      li a {
        font-size: 0.875em;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.custom-empty-message {
  font-size: 0.875em;
  p {
    margin-top: 1em;
    padding: 0 0.25em;
  }
}

// Category headers

#list-area .custom-category-header {
  h2 {
    margin: 0 0 1em 0;
  }
}
