.extra-info-wrapper {
  padding-left: 0;
}

#topic-title {
  display: none;
  padding-top: 0;
}

#user-card,
#group-card {
  z-index: 1001; // Show cards above header
}

// Hide all user profile nav by default
// this avoids some CSS loading jank when clicking assigned in the sidebar

.user-primary-navigation,
.user-secondary-navigation,
.user-additional-controls,
.about {
  display: none;
}

.user-content-wrapper .user-additional-controls + .user-content,
.user-content-wrapper .user-secondary-navigation + .user-content {
  grid-column-start: 1;
}

// Re-show nav when needed

body.show-nav {
  .user-primary-navigation,
  .user-secondary-navigation,
  .user-additional-controls,
  .about {
    display: inherit;
  }

  .user-content-wrapper .user-additional-controls + .user-content,
  .user-content-wrapper .user-secondary-navigation + .user-content {
    grid-column-start: 2;
  }
}
